@model MainApp.WebApp.Models.WordViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>@Model.Name</h2>
@{ 
    string message = "You exceeded maximum search limit";
@if (Model.Anagrams != null)
{
    <ul>
        @foreach (var word in Model.Anagrams)
        {
            <li>
                @word
            </li>
        }
    </ul>
}
else
{
    @message
}
}