@model MainApp.WebApp.Models.WordContainerViewModel
@{
    ViewData["Title"] = "Words";
}

<h2>Žodžiai</h2>
@{
    <ul>
        @foreach (var word in Model.Words)
        {
            <li>
                @Html.ActionLink(word, "Index", "Home", new { word = word }, null)
            </li>
        }
    </ul>

    if ((int)ViewData["previousPageIndex"] >= 0)
    {
        @Html.ActionLink("Previous page | ", "ListOfWords", "Home", new { startIndex = ViewData["previousPageIndex"] }, null)
    }

    @Html.ActionLink("Next page", "ListOfWords", "Home", new { startIndex = ViewData["nextPageIndex"] }, null)
}
