@using Contracts;
@model List<UserLogReport>
@{
    ViewData["Title"] = "UserLogs";
}

<h2>UserLogs</h2>

<ul>
    @foreach (var report in Model)
    {
        <li>
            User IP: @report.UserIp
        </li>
        <li>
            Date: @report.SearchTime
        </li>
        <li>
            Word: @report.Word
        </li>
        <li>
            Anagrams: 
        <ol>
        @foreach (var anagram in report.Anagrams)
        {
            <li>
                @anagram
            </li>
        }
        </ol>
        </li>
        <hr />
    }
</ul>