<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="minWordLen" value="3"/>
    <add key="maxListLen" value="5"/>
    <add key="connectionString" value="Data Source=LT-LIT-SC-0009;Initial Catalog=MainAppDatabase;Integrated Security=True"/>
    <add key="CFConnectionString" value="Data Source=LT-LIT-SC-0009;Initial Catalog=CodeFirstDatabase;Integrated Security=True"/>
  </appSettings>
</configuration>